<header class="top-page-header2">
  <div class="title">
    <%= link_to "Cattle_Feed", cows_path, class: "title-text"%>
  </div>
  <div class="sub-contents">
    <div class="plus">
      <%= link_to "追加", new_feed_path, class: 'btn btn-default feed-plus' %>
    </div>
    <div class="back">
      <%= link_to "戻る", cows_path, class: 'btn btn-default back-btn'%>
    </div>
  </div>
</header>
<div class="feed-main">
  <div class="feed-title">
    餌一覧
  </div>
  <div class="feed-lists">
    <% @feeds.each do |feed|%>
      <div class="feed-list">
      ・<%= link_to "#{feed.name}", feed_path(feed.id), class:"btn" %>
      </div>
    <% end %>
  </div>
</div>