<header class="top-page-header">
  <div class="title">
    <%= link_to "Cattle_Feed", cows_path, class: "title-text"%>
  </div>
  <div class="sub-contents">
    <div class="cow-plus">
      <%= link_to "牛の追加", new_cow_path, method: :get, class: 'btn btn-default cow-plus' %>
    </div>
    <div class="feed-edit">
      <%= link_to "餌の編集", feeds_path, class: 'btn btn-default feed-edit' %>
    </div>
    <div class="logout">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-default logout'%>
    </div>
  </div>
</header>