<header class="top-page-header">
  <div class="title">
    <%= link_to "Cattle_Feed", "cows_index_path", class: "title-text"%>
  </div>
  <div class="sub-contents">
    <div class="back-btn">
      <%= link_to "戻る", "cows_index_path", class: 'btn'%>
    </div>
  </div>
</header>