<header class="top-page-header">
  <div class="title">
    <%= link_to "Cattle_Feed", "/", class: "title-text"%>
  </div>
  <div class="sub-contents">
    <div class="cow-plus">
      牛の追加
    </div>
    <div class="feed-edit">
      餌の編集
    </div>
    <div class="user-edit">
      ユーザー情報編集
    </div>
    <div class="logout">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
  </div>
</header>