<header class="top-page-header2">
  <div class="title">
    <%= link_to "Cattle_Feed", cows_path, class: "title-text"%>
  </div>
  <div class="sub-contents">
    <div class="back">
      <%= link_to "戻る", cows_path, class: 'btn btn-default back-btn'%>
    </div>
  </div>
</header>