.feed-main{
  min-height: 100vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-title{
  padding: 80px 0 40px 0;
  font-size: 70px;
}

.feed-main .feed-lists{
  background-color: white;
  width: 300px;
  height: auto;
  padding: 40px 0;
  font-size: 35px;
}

.feed-plus-main{
  min-height: 100vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.register-feed-btn{
  margin-top:40px;
  height:60px;
  width:160px;
  background-color: pink;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}

.feed-show-main{
  min-height: 100vh;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  width: auto;
}

.feed-show-btn{
  display: flex;
  margin-left: 600px;
  display: space-around;
  width: 300px;
}

.feed-show-btn .feed-edit{
  height: 70px;
  width: 150px;
  font-size: 30px;
  background-color: pink;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.feed-show-btn .feed-destroy{
  height: 70px;
  width: 150px;
  font-size: 30px;
  background-color: rgb(98, 98, 241);
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-show-main .feed-name{
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
}

.feed-show-main .feed-price{
  margin-top:60px;
  font-size: 40px;
}

.feed-show-main .feed-nutrients{
  margin: 60px 0;
  width: 600px;
}

.feed-nutrients .feed-nutrients-title{
  font-size: 40px;
  border-radius: 5px 5px 0 0;
  width: auto;
  padding: 3px 10px;
  background-color: gold;
}

.feed-nutrients .feed-nutrients-lists{
  background-color: white;
  width: auto;
  height: 300px;
  font-size: 20px;
  padding: 20px;
}