<%= render "shared/header" %>
<body>
  <div class="main-contents">
    <div class="left-contents">
      <ul class="cow-list">
        <li class="cow" doraggable="true">1</li>
        <li class="cow" doraggable="true">2</li>
        <li class="cow" doraggable="true">3</li>
        <li class="cow" doraggable="true">4</li>
        <li class="cow" doraggable="true">5</li>
      </ul>
    </div>
    <div class="right-contents">
      <ul class="cow-list">
        <li class="cow" doraggable="true">6</li>
        <li class="cow" doraggable="true">7</li>
        <li class="cow" doraggable="true">8</li>
        <li class="cow" doraggable="true">9</li>
        <li class="cow" doraggable="true">10</li>
    </ul>
    </div>
  </div>
</body>